<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>My favourite cats are:</h1>

  <% @urls.each do |img| %>
  <img class="image" src="https://cdn1.iconfinder.com/data/icons/image-manipulations/100/13-512.png" image_id="<%= img['id'] %>"
       width="300" height="300" alt="">
  <%= img %>
  <a data-method="delete" href="/favourites/<%= img['id'] %>">Delete</a>
  <br>
  <% end %>

  <a href="/">Random img</a>

</body>
</html>
